
%div{:class => "search"}
  %img{:src => "https://fbstatic-a.akamaihd.net/rsrc.php/v2/y_/r/KnA24hkPWXC.png", :width => "32", :height => "32"}
  %input{:type => "text", :name => "pattern", :id => "pattern"}

  %div#results
    %ul
      %li
        %a{:href => '#'}
          Reposnse 1
      %li
        %a{:href => '#'}
          Reposnse 2
      %li
        %a{:href => '#'}
          Reposnse 3
      %li
        %a{:href => '#'}
          Reposnse 4
      %li
        %a{:href => '#'}
          Reposnse 5
    %p.new-link
      %a{:href => '/new'}
        Create a new bug